.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(184, 182, 182, 0.47);
  padding: 10px;
  color: rgb(247, 242, 242);

  .title {
    color: black;
    font-weight: bold;
  }

  .titles{
    color: rgb(92, 86, 86);
    margin-bottom: 2px;
  }

  .chartGrid {
    stroke: rgb(22, 225, 225);
  }

  .compactgraph{
    color: rgb(92, 86, 86);
    text-align: right;
    margin-right: 100px;
    
  }
  .selects{
    position: relative;
    left: 55rem;
    bottom: 1.8rem;
    margin-right: 100px;

  }
}
