
.title {
  font-size: 17px;
  color: black;
  font-weight: 700;
}

.all {
  font-size: 15px;
  color: rgb(92, 86, 86);
}

.compactgraph {
  color: rgb(92, 86, 86);
  text-align: right;
  margin-right: 100px;
}                                                                                                                                                         
                        