.app.dark {
  background-color: rgb(26, 26, 26);
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

 .title{
  color: #d5d5d5;
 }
 .all{
  color: rgb(139 139 139);
}

  input{
      background-color: transparent;
  }
}
